@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&text=%E2%AE%8C&display=swap");
@import "tailwindcss";

:root {
    --navbar-height: 3rem;
    --navbar-control-height: 2rem;
    --portfolio-bar-height: 3rem;
}

html, body, #root {
    font-family: "Inter", "Noto Sans Symbols 2", Arial, sans-serif;
}